<h1 class="heading-1">Meetups</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= form_tag(meetups_path, method: :get) do %>
      <%= text_field_tag :term, params[:term], placeholder: "Enter a Location"%>
      <%= submit_tag 'Search', name: nil, class: "my-btn btn-secondary"%>
      <% end %>
      <hr>
    </div>
    &nbsp
    <div class="col-xs-6">
      <%= button_to "New Meetup", new_meetup_path, method: :get, class: "my-btn btn-secondary move-btn" %>
    </div>
  </div>
  <% if flash[:errors] %>
  <div class="alert alert-danger">

    <%= flash[:errors] %> &nbsp

  </div>
  <% end %>
    <div class="row">
        <% @meetups.each do |meetup| %>
        <div class="col-md-4">
          <div class="meetup-card">


            <p class="heading-p"><%= link_to meetup.location, meetup_path(meetup) %></p>
            <ul>
              <li><%= meetup.campaign.title %></li>
              <li><%= meetup.format_meet_time %></li>
              <li><%= meetup.number_of_hours %> hours</li>
            </ul>
          </div>
        </div>
        <% end %>
    </div>
</div>
