<h1>All Meetups</h1>


<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <%= form_tag(meetups_path, method: :get) do %>
      <%= text_field_tag :term, params[:term] %>
      <%= submit_tag 'Search', name: nil %>
      <% end %>
      <hr>
    </div>
    &nbsp
    <div class="col-xs-6">
      <%= button_to "New Meetup", new_meetup_path, method: :get %>
    </div>
  </div>
  <h4 style="color: red;"><%=flash[:errors]%></h4>
    <div class="row">
        <% @meetups.each do |meetup| %>
        <div class="col-md-4">
          <p><%= link_to meetup.location, meetup_path(meetup) %></p>
          <ul>
            <li>Campaign: <%= meetup.campaign.title %></li>
            <li>Meet Time: <%= meetup.format_meet_time %></li>
            <li>Expected Duration <%= meetup.number_of_hours %> hours</li>
          </ul>
        </div>
        <% end %>
    </div>
</div>
