<h1>New Meetup</h1>

<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <%= e %> &nbsp
  <% end %>
<% end %>

<%= form_for(@meetup) do |f| %>
  <%= f.label :campaign_id, "Campaign"%>
  <% if flash[:campaign] %>
    <%= f.text_field :campaign_id, :readonly => true, value: flash[:campaign_title]%>
    <%= f.hidden_field :campaign_id, value: flash[:campaign] %>
  <% else %>
    <%= f.collection_select :campaign_id, Campaign.all, :id, :title %>
  <% end %>
  <%= f.label :location %>
  <%= f.text_field :location %>
  <%= f.label :meet_time, "Meeting Time" %>
  <%= f.datetime_local_field :meet_time %>
  <%= f.label :number_of_hours, "Number of Hours" %>
  <%= f.number_field :number_of_hours %>
  <%= f.submit %>
<% end %>
