<h1 class="heading-1">New Meetup</h1>

<% if flash[:errors] %>
<div class="alert alert-danger">
  <% flash[:errors].each do |e| %>
    <%= e %> &nbsp
  <% end %>
  </div>
<% end %>

<%= bootstrap_form_for(@meetup, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>
  <% if flash[:campaign] %>
    <%= f.text_field :campaign_id, :readonly => true, value: flash[:campaign_title], label: "Campaign", class: "form-control"%>
    <%= f.hidden_field :campaign_id, value: flash[:campaign] %>
  <% else %>
    <%= f.collection_select :campaign_id, Campaign.all, :id, :title %>
  <% end %>
  <%= f.text_field :location, class: "form-control" %>
  <%= f.datetime_local_field :meet_time, class: "form-control" %>
  <%= f.number_field :number_of_hours, class: "form-control" %>
  <%= f.submit %>
<% end %>
