<h3 class="heading-1"><%= @meetup.campaign.title %></h3>
<ul>
  <li>Location: <%= @meetup.location %></li>
  <li>Meet Time: <%= @meetup.format_meet_time %></li>
  <li>No. of Hours <%= @meetup.number_of_hours %></li>
</ul>
<br />
<h5 style="color: rgb(104,22,18); text-transform: uppercase;">Attendees</h5>
<ul>
  <% @meetup.users.each do |user| %>
  <li><%= user.user_name %></li>
  <% end %>
</ul>
<!-- <button class="btn"><%= link_to "Edit", edit_meetup_path %></button> -->
<br />
<div class="row">
<%= button_to "RSVP", "/user_meetups", method: "post", class: "my-btn btn-secondary" %>
&nbsp
<% if @rsvp %>
  <%= button_to "Remove RSVP", "/user_meetups/#{@rsvp.id}", method: "delete", class: "my-btn btn-secondary" %>
<% end %>
</div>
