<h1>Meetup Show Page</h1>
<h3><%= @meetup.campaign.title %></h3>
<ul>
  <li>Location: <%= @meetup.location %></li>
  <li>Meet Time: <%= @meetup.format_meet_time %></li>
  <li>No. of Hours <%= @meetup.number_of_hours %></li>
</ul>

<button class="btn"><%= link_to "Edit", edit_meetup_path %></button>
