<h3 class="heading-3" style="color: rgba(104,22,18,1);">Personal Info</h3>
<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %> &nbsp
  <% end %>
<% end %>

<%= bootstrap_form_for(@user) do |f| %>
  <%= f.text_field :first_name %>
  <%= f.text_field :last_name %>
  <%= f.text_field :email_address %>
  <%= f.submit "Save" %>
<% end %>
