<h3 class="show-char-name">Edit <%= @character.char_name %></h3>

<%= bootstrap_form_for(@character) do |f| %>
  <%= f.text_field :weapon %>
  <%= f.number_field :level %>
  <%= f.submit %>
<% end %>
