<h3>Create a Character</h3>
<%= bootstrap_form_for(@character) do |f| %>
<%= f.hidden_field :campaign_id, :value => @campaign %>
<%= f.text_field :char_name %>
<%= f.select :alignment, @alignments %>
<%= f.select :race, @races %>
<%= f.text_field :weapon %>
<%= f.number_field :level%>
<%= f.select :klass, @klasses %>
<%= f.hidden_field :user_id, :value => current_user.id %>
<%= f.submit %>
<% end %>
