<h1 class="heading-1">Start A New Campaign</h1>
<p>Note: Since you are starting a new compaign, you shall be Dungeon Master by default.</p>

<%= bootstrap_form_for(@campaign, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>
  <%= f.hidden_field :completed, value: false %>


  <%= f.text_field :title%>


  <%= f.number_field :expect_number_of_meetups, label: "Number of Meetups" %>


  <%= f.number_field :max_number_of_characters, label: "Character Limit"%>


  <%= f.number_field :difficulty%>

  <%= f.submit%>
<% end %>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
  <span style="color: red;"><%= error %></span> &nbsp
  <% end %>
<% end %>
