<h1>Start A New Campaign</h1>
<p>Note: Since you are starting a new compaign, you shall be Dungeon Master by default.</p>

<%= form_for(@campaign) do |f| %>
  <%= f.hidden_field :completed, value: false %>
  <%= f.label :title, "Campaign Title" %>
  <%= f.text_field :title %>
  <%= f.label :expect_number_of_meetups, "Expected Number of Meetups" %>
  <%= f.number_field :expect_number_of_meetups %>
  <%= f.label :max_number_of_characters, "Max Number of Characters" %>
  <%= f.number_field :max_number_of_characters %>
  <%= f.label :difficulty %>
  <%= f.number_field :difficulty %>
  <%= f.submit %>
<% end %>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
  <span style="color: red;"><%= error %></span> &nbsp
  <% end %>
<% end %>
