<h3><%= @campaign.title %></h3>
<p>Completed?: <%= @campaign.completed %></p>

<ul>
  <li>Expected No. of Meetups <%= @campaign.expect_number_of_meetups %></li>
  <li>Difficulty: <%= @campaign.difficulty %></li>
  <li>Max No. of Characters <%= @campaign.max_number_of_characters %></li>
</ul>

<%= link_to "Edit", edit_campaign_path(@campaign) %>
<%= link_to "Delete" destroy_campaign_path(@campaign) %>
