<!DOCTYPE html>
<html>
  <head>
    <title>MU DND</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Oxygen');
</style>
  </head>

  <body>
    <header class="my-header">
      <div class="container">


   <%= render "shared/navbar" %>
    </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
